<!-- <div>
  <a routerLink="/product" routerLinkActive="active">show product detail</a>
  <button routerLink="/list-product2" routerLinkActive="active">
    show list product2 detail
  </button> -->

<!-- <a routerLink="/list-product" routerLinkActive="active"
    >show list-product detail</a
  > -->
<!-- </div>
<table>
  <td>
    <button (click)="openListProduct()">list product</button>
  </td>
</table>
<button routerLink="/list-catalog" routerLinkActive="active">
  Show catalog
</button>-->
<!-- <button routerLink="/detail" routerLinkActive="active">Show detail</button> -->
<button routerLink="/cau3" routerLinkActive="active">cau 3</button>
<button routerLink="/cau4" routerLinkActive="active">cau 4</button>
<button routerLink="/cau5" routerLinkActive="active">cau 5</button>
<button routerLink="/cau6" routerLinkActive="active">cau 6</button>
<button routerLink="/cau7" routerLinkActive="active">cau 7</button>
<button routerLink="/cau8" routerLinkActive="active">cau 8</button>
<button routerLink="/cau9" routerLinkActive="active">cau 9</button>
<button routerLink="/cau11" routerLinkActive="active">cau 11</button>
<button routerLink="/cau12" routerLinkActive="active">cau 12</button>
<button routerLink="/service-product-image-event" routerLinkActive="active">
  cau 13
</button>

<router-outlet></router-outlet>
